@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;	
	font-family:'Poppins', sans-serif;

}
h2{
	font-weight: 400;
}

.panel{
	background-color: #ffcfdf;
	background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.quiz-container{
	background-color: #fff;
	width: 500px;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	padding: 4rem;
}

ul{
	list-style-type: none;
	padding: 0;

}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}


button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}
button:hover {
    background-color: #732d91;
}


button:focus {
    background-color: #5e3370;
    outline: none;
}

